@charset "UTF-8";

body{
    margin: 0px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #BF211E;
    padding: 15px;
}

section{
    padding-left: 12px;
    padding-right: 12px;
}

footer{
    background-color: #202030;
    color: #fff;
    padding: 15px;
}

section a{
    color: #0081AF;
} section a:hover{
    color: #00678C;
}

footer a{
    color: #04E762;
} footer a:hover{
    color: #03B84E;
}